<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs -->
    <title>ehouse.io</title>
    <meta charset="utf-8" />
    <meta name="description" content="Tech and D&amp;D, what more could you want?">
    $if(Author)$
    <meta name="Author" content="$Author$">
    $else$
    <meta name="Author" content="Ethan House">
    $endif$
    <!-- Mobile Specific Metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/css/ehouse.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Work+Sans" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/favicon.png">
  </head>
  <body>
    <!-- Primary Page Layout -->
    <div class="container">
      <div class="row">
        <div class="column">
          <div id="nav">
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/dnd/">D&amp;D</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
          </div> <!-- #nav -->
          <div id="headerImage">
              <img alt="Train Bridge at Swarthmore College crossing Crum Creek" src="/img/wide_bridge.jpg" />
          </div> <!-- #headerImage -->
            <article>
                <header>
                    <!--<h1><a href="https://ehouse.io/$title$" rel="bookmark" title="Permalink to $title$">$title$</a></h1>-->
                    <h1>$title$</h1>
                    <p class="date">
                    $if(date)$
                    Posted on $date$
                    $endif$
                    $if(author)$
                    Written by $author$
                    $endif$
                    </p>
                </header>
$body$
            </article>
            <script>window.twttr = (function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0],
                   t = window.twttr || {};
                 if (d.getElementById(id)) return t;
                 js = d.createElement(s);
                 js.id = id;
                 js.src = "https://platform.twitter.com/widgets.js";
                 fjs.parentNode.insertBefore(js, fjs);

                 t._e = [];
                 t.ready = function(f) {
                   t._e.push(f);
                 };

                 return t;
               }(document, "script", "twitter-wjs"));</script>

            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
          <div class="footer">
            <ul>
                <li><a href="https://github.com/ehouse">Github</a></li>
                <li><a href="https://keybase.io/ehouse">Keybase</a></li>
                <li><a href="https://twitter.com/ewhhouse">Twitter</a></li>
            </ul>
            <!--<p>Page generated by <a href="http://getpelican.com/">Pelican</a>. Theme Available on my <a href="https://github.com/ehouse/blog">Github</a>.</p>-->
            <p>&copy; Ethan House 2013 - 2016</p>
          </div> <!-- #footer -->
        </div> <!-- .column -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </body>
</html>
