body {
    font-size: 17px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

header {
    margin-bottom: 1rem;
}

h1,h2 {
    border-bottom: 1px solid #999;
    font-family: 'Work Sans', sans-serif;
}

h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: #D9230F;
    text-decoration: none;
}

a:hover {
    color: #91170A;
    text-decoration: underline;
}

blockquote {
    padding: 0 2.5rem;
    margin-left: 0;
    border-left: 5px solid #DDD;
    font-weight: 100;
}

article p {
    text-align: justify;
}

nav ul {
    margin-bottom: 1rem;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0 2rem 0 0;
}

nav a {
    font-size: 2.8rem;
}

.article-list ul {
    list-style-type: none;
}

.highlight pre {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 1.5rem;
    background-color: #f5f5f5;
    display: block;
    white-space: pre;
    font-size: 90%;
}

.date, .author {
    color: #808080;
}

.blog-roll {
    border-bottom: 0;
}

#headerImage img {
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
}

#footer {
    text-align: center;
    padding-top: 2.5rem;
    color: #808080;
    border-top: 2px solid #E1E1E1;
}

#footer ul {
    margin: 0;
}

#footer ul li {
    display: inline;
    margin: 0 2rem;
}

#footer p {
    margin: 0;
}

@media (max-width: 465px) {
    #nav a { font-size: 2.4rem; }
}

@media (max-width: 420px) {
    #nav a { font-size: 2.0rem; }
}

@media (max-width: 550px) {
    nav ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        width: 100%;
    }

    nav ul li {
        flex-grow: 1;
        text-align: center;
        display: inline-block;
        margin: 0 2rem 0 0;
    }

    nav a {
        font-size: 2rem;
    }
}
